<!DOCTYPE html>
<html>
  <head>
    <title>FacePi</title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='facePi.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='maske.jpg') }}">
  <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
  <body>
    <div class="cameraWindow">
      <img class="facePiCam" src="{{ url_for('video_feed') }}">
      <!-- <img class="facePiCam" src="6195353.jpg"> -->
    </div>

    <div class="logo">
      <a>facePi - Stream </a>
    </div>

    <div class="navbar">
      <button onclick="callFlask('disableViedoFeed')" type="button" class="stopButton">&#x2715;</button>
      <button onclick="callFlask('activateViedoFeed')" type="button" class="playButton">&#10148;</button>
      <button onclick="callFlask('picture')" type="button" class="screenShotButton">&#128247;</button>

      
      <button onclick="callFlask('alarm')" type="button" class="alarmButton">&#9888;</button>
      
    </div>
    <script>
	
	const callFlask = async (path) => {
		await fetch(path);
	}
    </script>
  </body>
</html>
